  
  <!-- Page de création d'article -->
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <!-- Bouton retour et titre de la page -->
    <div class="d-flex justify-content-start mb-3 w-100">
      <a (click)="goBack()" class="text-dark" style="font-size: 24px;">
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
    <h2 class="ms-3">Créer un nouvel article</h2>
  
    <!-- Formulaire de création d'article -->
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="w-100" style="max-width: 600px;">
      <div class="mb-3">
        <label for="theme" class="form-label">Sélectionner un thème</label>
        <select formControlName="theme" class="form-select">
          <option value="" disabled selected>Sélectionner un thème</option>
          <option *ngFor="let theme of themes" [ngValue]="theme.id">{{ theme.name }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Titre de l'article</label>
        <input type="text" formControlName="title" class="form-control" placeholder="Titre de l'article">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Contenu de l'article</label>
        <textarea class="form-control" formControlName="content" rows="5" placeholder="Contenu de l'article"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="articleForm.invalid">Créer</button>
    </form>
    
  </div>
  