
  
  <!-- Page de profil utilisateur -->
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <!-- Formulaire du profil -->
    <div class="w-100" style="max-width: 600px;">
      <h2 class="text-center mb-4">Profil utilisateur</h2>
  
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Nom d'utilisateur</label>
          <input type="text" class="form-control" id="username" placeholder="Username" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@email.fr" />
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-3">Sauvegarder</button>
        <button type="button" class="btn btn-outline-danger w-100">Se déconnecter</button>
      </form>
  
      <hr class="my-4" />
  
      <h4 class="text-center mb-4">Abonnements</h4>

    <div class="row">
      <div *ngFor="let theme of themes" class="col-12 col-md-6 mb-4">
        <app-theme-card 
        [theme]="theme" 
        [isSubscribed]="isSubscribed(theme.id)"
        [inProfile]="true"  
        (unsubscribe)="unsubscribeFromTheme(theme.id)">
      </app-theme-card>
      </div>
    </div>
  </div>
</div>
  
