<!-- Navbar qui s'affiche sur grand écran -->
<nav class="navbar navbar-light bg-light d-none d-lg-block">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="/assets/logo_p6.png" alt="MDD Logo" class="img-fluid logo-desktop" />
    </a>
  </div>
</nav>

<div class="container d-flex flex-column mt-5 align-items-center min-vh-100">
  <div class="w-100 mb-2 d-flex justify-content-start">
    <a class="text-dark arrow-back cursor-pointer" (click)="goBack()">
      <i class="bi bi-arrow-left"></i>
    </a>
  </div>

  <!-- Logo visible uniquement sur mobile -->
  <div class="logo mb-4 d-lg-none">
    <img src="/assets/logo_p6.png" alt="MDD Logo" class="img-fluid logo-mobile" />
  </div>

  <h2 class="mb-5">Se connecter</h2>

  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="w-100 form-inscription">
    <div class="mb-3">
      <label for="email" class="form-label">E-mail ou nom d'utilisateur</label>
      <input type="text" id="email" formControlName="email" class="form-control" placeholder="Entrez votre e-mail ou nom d'utilisateur" />
      <div *ngIf="formControls['email'].invalid && formControls['email'].touched" class="text-danger">
        Une adresse e-mail valide est requise.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Entrez votre mot de passe" />
      <div *ngIf="formControls['password'].invalid && formControls['password'].touched" class="text-danger">
        Le mot de passe est requis.
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
</div>
